<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="60" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Score</title>
	<style type="text/css">
		body {
			background-color: #333333;
			color: white;
		}
		.container {
			border-radius: 2rem;
			max-width: 500px;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: white;
			color: black;
			padding: 10px 25px 25px 10px;
		}
	</style>
    </head>
    <body>
	<div class="container">
		<h1>Score</h1>
		<h4>{{results|count}} of {{totalchecks}} vulnerabilities fixed</h4>
		<h4>Points: {{totalpoints}} of {{totalpossiblepoints}}</h4>
		<ul>
		{% for r in results %}
		    <li>{{r.name}} - {{r.points}} point(s)</li>
		{% endfor %}
		</ul>
		<p>Checked at {{checkdatetime.strftime("%Y-%m-%d %H:%M:%S")}}</p>
	</div>
    </body>
</html>
